body { 
    width: 350px;
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.titre-table {
    text-align: center;
}
