body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), no-repeat url(https://cdn.discordapp.com/attachments/959053111727636490/966306407924256828/background_netflix.png);
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1 {
    width: 15%;
}
img {
    width: 100%;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
select {
    background-color: #020202;
    color: white;
    padding: .5rem 1rem;
    margin-right: 1rem;
}
.bouton {
    background-color: #E50914;
    border-radius: 5px;
    padding: .5rem 1rem;
}
main {
    text-align: center;
    width: 40%;
}
.fstv {
    font-size: 4em;
}
.annuler {
    font-size: 2em;
}
form {
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}
input {
    height: 3rem;
}
#email {
    margin: 0;
    padding: 0 1rem;
    border: none;
    width: 70%;
    color: gray;
}
.submit {
    width: 30%;
    background-color: #E50914;
    box-shadow: 0 none;
    text-decoration: none;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.547);
    color: white;
}